.navbar-nav li {
  list-style: none;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 1px;

}
.navbar-nav{
  /* float: right; */
  display: flex;
}

button {
  color: azure;
  background-color: #5CB85F;
  bottom: 1px;
  border: 3px solid #5CB85F;
  text-decoration: none;
}
.tulisan{
  padding-left: 100px;
}
.tulisan1{
  max-width: 500px;
  font-family: Helvetica;
}
.tulisan2{
  max-width: 460px;
  font-family: Helvetica;
}

.centang {
  list-style: none;
  padding-left: 1px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.centang li {
  padding-left: 1px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.cewek {
  font-family: Helvetica;
}

.mt-50{
  margin-top: 50px;
  
}

.mb-50{
  margin-bottom: 50px;
}

.mb-30{
  margin-bottom: 30px;
}

.whyus{
  margin-top: 100px;
}

.mrml-20{
  margin-left: 20px;
  margin-right: 20px;
}

.mrml-20{
  margin-left: 20px;
  margin-right: 20px;
}

.whyus p{
  max-width: 263px;
}

.mt-20{
  margin-top: 20px;
}

.br{
  border-radius: 6%;
}
.card{
  border: 1px solid rgb(202, 202, 202);
}

/* tetimonial */
.Testimonial-component{
  text-align: center;
}
.mt-50{
  margin-top: 50px;
}

.fonttesti {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  font-family: Helvetica;
  font-style: normal;
}
.item {
  background: #F1F3FF;
  border-radius: 15px;
  margin-left: 10px;
}

.bwhite{
  border: 2px #5CB85F solid;
  width: 143.5px;
  height: 48px;
  margin-top: 1.5rem;
}

.btn-sewa{
  color: #fff;
  background-color: #5CB85F;
}
.mt-20p{
  margin-top: 8%;
}

.wi-22{
  width: 22%  !important; 
}

.owl-carousel .owl-item img {
  display: block;
  
} 

.foto{
  width: 40% !important;
  margin: auto;
  margin-top: 13%;
}
/* testimonial end */

/* Banner */
.blue{
  background: #0D28A6;
  font-family: Helvetica;
}
.warna{
  background-color: aqua !important;
}
.bold{
  font-weight: bold;
  
}
.sewa .col-md-12{
  height: 326px;
  border-radius: 10px;
}
.swa {
  padding-left: 1px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 4%;
}
/* banner end */

/* Frequently Asked Question */
.mb-20{
  margin-bottom: 20px;
}
.mlmr-70{
  margin-top: 70px;
  margin-bottom: 70px;
}
/* end Frequently Asked Question */

.huhu {
  max-width: 49%;
  margin-left: 25%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  font-family: Helvetica;
}
.klawu{
  background-color: #F8F9FA;
}
@media (max-width: 576px) { 
  .hihi{
      text-align: center;
  }
  .tengahh {
      margin-left: 8%;
  }
  .bintang {
      margin: auto;
  }
  .jarakkotak {
      padding-left: 10px;
      padding-right: 10px;
  }
  .bwh{
      margin-top: 5%;
  }
  .ngotak {
      margin-top: 30%;
  }

}

.naik {
  margin-top: -4%;
  ;
}
.kotakk {
  padding-left: 10%;
  padding-right: 10%;
}

.jembar {
  padding: 1rem;
}

.logo {
  width: 150px;
}

.btn-success{
  background-color: #5CB85F;
  color: aliceblue;
  width: 81px;
  height: 36px;
  border-radius: 5px;
}


.cardcari {
  padding: 18px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: -5%;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  border-radius: 8px;
}

.cardcari2 {
  margin-left: 110px;
  margin-right: 110px;
}



.card .card1 {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15) !important;
  border-radius: 8px;
}

.btn-success2 {
  background-color: #5CB85F;
  color: aliceblue;
  width: 94px;
  height: 36px;
  margin-top: 34px;
  border-radius: 5px;
}

.col-md-11 {
  flex: 0 0 auto;
  width: 86.666667%;
}

.w-100 {
  width: 100%;
}

/* .form-select option{
  font-size: 15px;
  color: #8A8A8A;
} */

@media (max-width: 575.98px) {
  .tengah {
      text-align: center;
  }
  .fototengah {
      margin: auto;
  }

  .mt-15{
      margin-top: 15px;
  }

  .mr-10 {
      margin-left: 10px;
  }

  .ml-0k {
      margin-left: 0;
  }

  .mr-0k {
      margin-right: 0;
  }


  .mt-30k {
      margin-top: 30px;
  }

  .sewa .col-md-12{
      height: 370px;
      border-radius: 10px;
  }

  .mt-0 {
      margin-top: 0;
  }

  .pl-10kecil {
      padding-left: 10px;
  }

  .pr-10kecil {
      padding-right: 10px ;
  }

  .ml-65 {
      margin-left: 65px !important;
  }
}

@media (max-width: 767.98px) {
  .ml-0k {
      margin-left: 0;
  }

  .mr-0k {
      margin-right: 0;
  }
  
}

@media (max-width: 991.98px) {
  .ml-0k {
      margin-left: 0;
  }

  .mr-0k {
      margin-right: 0;
  }
  
}

@media (max-width: 1199.98px) {
  

}

@media (max-width: 1399.98px) {
  .mt-50besar{
      margin-top: 50px;
  }

}
